@using Abc.Pages.Common.Extensions
@model Abc.Pages.TrainingPage
<body>

    @Html.Editor(m => m.Item.Id)
    @Html.Editor(m => m.Item.Name)
    @Html.Editor(m => m.Item.Definition)
    @Html.Editor(m => m.Item.LocationOfTraining)
    @Html.Editor(m => m.Item.NumberOfAthletes)
    @Html.Editor(m => m.Item.MaxNumberOfAthletes)
    @Html.Editor(m => m.Item.MinNumberOfAthletes)
    @Html.Editor(m => m.Item.NumberOfCoachesRequired)
    @Html.Editor(m => m.Item.AvailableEquipment)
    @Html.Editor(m => m.Item.From)
    @Html.Editor(m => m.Item.To)
</body>