@using Abc.Pages.Common.Extensions
@model Abc.Pages.People.PersonRolePage
<body>

    @Html.Show(m => m.Item.Id)
    @Html.Show(m => m.Item.PersonRoleTypeId, Model.PersonRoleTypeName(Model.Item.PersonRoleTypeId))
    @Html.Show(m => m.Item.PersonId, Model.PersonName(Model.Item.PersonId))
    @Html.Show(m => m.Item.Certificate)
    @Html.Show(m => m.Item.From)
    @Html.Show(m => m.Item.To)

</body>

