@using Abc.Pages.Common.Extensions
@model Abc.Pages.Others.ServiceForPersonPage
<body>

    @Html.Show(m => m.Item.Id)
    @Html.Show(m => m.Item.Name)
    @Html.Show(m => m.Item.ServiceId, Model.ServiceTypeName(Model.Item.ServiceId))
    @Html.Show(m => m.Item.PersonId, Model.PersonName(Model.Item.PersonId))
    @Html.Show(m => m.Item.From)
    @Html.Show(m => m.Item.To)

</body>

