@using Abc.Pages.Common.Extensions
@model Abc.Pages.Other.EquipmentForPersonPage
<body>

    @Html.Show(m => m.Item.Id)
    @Html.Show(m => m.Item.EquipmentId, Model.EquipmentTypeName(Model.Item.EquipmentId))
    @Html.Show(m => m.Item.PersonId, Model.PersonName(Model.Item.PersonId))
    @Html.Show(m => m.Item.From)
    @Html.Show(m => m.Item.To)

</body>

