@using Abc.Pages.Common.Extensions
@model Abc.Pages.EquipmentPage
<body>

    @Html.Editor(m => m.Item.Id)
    @Html.Editor(m => m.Item.Name)
    @Html.Editor(m => m.Item.Definition)
    @Html.Editor(m => m.Item.AmountAvailable)
    @Html.Editor(m => m.Item.AmountInUsing)
    @Html.Editor(m => m.Item.From)
    @Html.Editor(m => m.Item.To)
</body>