@using Abc.Pages.Common.Extensions
@model Abc.Pages.Others.BodyMetricPage
<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.Editor(m =>m.Item.Value)
    @Html.DropDown(m => m.Item.PersonId, Model.Persons) 
    @Html.DropDown(m =>m.Item.BodyMetricTypeId, Model.BodyMetricTypes)
    @Html.Editor(m => m.Item.From)
    @Html.Editor(m => m.Item.To)
</body>

