@using Abc.Pages.Common.Extensions
@model Abc.Pages.Other.BodyMetricPage
<body>

    @Html.Show(m => m.Item.Id)
    @Html.Show(m =>m.Item.Height)
    @Html.Show(m =>m.Item.Weight)
    @Html.Show(m =>m.Item.PersonId)
    @Html.Show(m =>m.Item.BodyMetricTypeId)
    @Html.Show(m => m.Item.From)
    @Html.Show(m => m.Item.To)

</body>

