@using Abc.Pages.Common.Extensions
@model Abc.Pages.People.PersonCustomerPage
<body>

    <input type="hidden" asp-for="Item.Id" />
    @Html.Editor(m => m.Item.LastName)
    @Html.Editor(m => m.Item.FirstMidName)
    @Html.Editor(m => m.Item.PhoneNumber)
    @Html.Editor(m => m.Item.Email)
    @Html.Editor(m => m.Item.Gender)
    @Html.Editor(m => m.Item.DateOfBirth)
    <input type="hidden" asp-for="Item.From" />
    <input type="hidden" asp-for="Item.To" />

</body>

