@using Abc.Pages.Common.Extensions
@model Abc.Pages.People.PersonCustomerPage
<body>

    @Html.Show(m => m.Item.Id)
    @Html.Show(m => m.Item.LastName)
    @Html.Show(m => m.Item.FirstMidName)
    @Html.Show(m => m.Item.PhoneNumber)
    @Html.Show(m => m.Item.Email)
    @Html.Show(m => m.Item.Gender)
    @Html.Show(m => m.Item.DateOfBirth)
    @Html.Show(m => m.Item.To)

</body>

